@charset "UTF-8";
/*==============RESET===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
ul {
    list-style: none;
  }
    
a {
    text-decoration: none;
  }
    
img {
    width: 100%;
    height: auto;
  }
/*============Variaveis=============*/

:root{
    --marcaTexto--Sombra: rgba(99, 201, 44, 0.5); 
    --backgroudColorGeral: #444444;
    --divTransitionColor: #FFFFFF; 
    --paragrafoColor: #FFFFFF;
    --titleColor: #FFFFFF;
    --arrowColor: rgba(255,255,255,0.25);
    --colorCircleMove: #D9D9D9;
    --navBackgroundColor: #1b1b1b;
}

/* Paragrafos: weight = tamanho, usar somente os presentes no figma, Libre Franklin, semiBold = 600, extraBold = 800*/

p{
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

#bolanos > p{
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  
}

/*Titulos: weight = tamanho, usar os presentes no figma, Ledger, regular = 400*/
h1 {
  font-family: "Ledger", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
}

/*Links e nomes: weight = tamanho, usar os presentes no figma, IBM plex Mono, regular = 400*/
li {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/*      Main        */
main{
  background-color: var(--backgroudColorGeral);
}

/*            Transição         */
.transition {
  background: linear-gradient(to right, var(--backgroudColorGeral), var(--divTransitionColor), var(--backgroudColorGeral));
  height: 1px;
  width: 100%;
}


/*================Navigation=================*/

header {
  display: flex;
  height: min-content;
  background-color: var(--navBackgroundColor);
  align-items: center;
  justify-content: space-around;
  padding: 0 20px 0 20px;
}

nav > ul{
  display: flex;
  align-items: center;
}


#imgNav {
  height: 60px;
  width: 56px;
}




